{% extends "base.html" %}

    {% block title %}Dashboard{% endblock %}

    {% block content %}
        <h1>Registrierte Nutzer:innen</h1>
            <p>
                <ul class="list-group">
                    {% for user in users %}
                       <li class="list-group-item" >{{ user.last_name }}, {{ user.first_name }} ({{ user.email }})</li>
                    {% endfor %}
                </ul>
            </p>
    {% endblock %}

    {% block footer %}
       <a href="{% url 'register' %}" class="btn btn-success">Nutzer:in hinzufügen</a>
       <a href="{% url 'logout' %}"  class="btn btn-danger">Abmelden</a>
    {% endblock %}

