{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Anmeldung</h1>

    {% if forms.error %}
        <p>Please, check your username and password</p>
    {% else %}
        <p>Bitte melden Sie sich mit Nutzername und Passwort an.</p>
    {% endif %}
    <div>
         <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
             <input class="btn btn-warning" type="submit" value="Anmelden">
         </form>
    </div>
{% endblock %}

