{% extends 'base.html' %}

    {% block title %}Neue:n Benutzer:in anlegen{% endblock %}

    {% block content %}
        <h2>Neue:n Benutzer:in anlegen</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning" type="submit">Anlegen</button>
        </form>
    {% endblock %}

    {% block footer %}
       <a href="{% url 'dashboard' %}" class="btn btn-success">Zur Übersicht</a>
       <a href="{% url 'logout' %}" class="btn btn-danger">Abmelden</a>
    {% endblock %}
