<!DOCTYPE html>

<html>

    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

    <body>

      <div class="container">

            <div>
                <hr class="my-4 border-4">
                <h1>Benutzer:innenverwaltung</h1>
                    {% if request.user.is_authenticated %}
                        <p>Sie sind aktuell eingeloggt als: <b>{{ request.user.username }}</b></p>
                    {% endif %}
                <hr class="my-4 border-4">
            </div>

            <div>
                {% block content %}
                {% endblock %}
            </div>

            <div>
                <hr class="my-4 border-4">
                {% block footer %}
                {% endblock %}
            </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>

</html>